{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .bg-gradient-dark {
            background: linear-gradient(to top, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8);
        }
    </style>
{% endblock %}

{% block breadcrum %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
                    {{ saludo }}
                </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <h1>Noticias</h1>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div style="display:flex; justify-content: space-between">
                    <h5 class="card-title">Titulo de la noticia</h5>
                    <div style="display:flex; gap: 1rem">
                        <a title="Detalles" class="btn btn-outline-primary btn-rounded"
                                           href="{% url 'news:detail' 1 %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a title="Editar" class="btn btn-outline-success btn-rounded"
                                           href="{% url 'news:edit' 1 %}">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                    <a title="Eliminar" class="btn btn-outline-danger btn-rounded"
                                           data-toggle="modal"
                                           data-target="#bs-example-modal-sm"
                                           onclick="delete_modal('{% url 'news:delete' 2 %}')"
                                           href="#">
                                           <i class="fa fa-trash" style=""></i>
                                        </a>
                    </div>
                </div>
                <div class="media">
                    <img class="align-self-center w-25 mr-3" src="assets/images/big/img1.jpg"
                        alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Fecha publicacion</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                            scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                            vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block page_js %}
    {% load modal_delete %}
    {% modal_delete %}
{% endblock %}