{% for n in news %}
        <div class="card">
            <div class="card-body">
                    <div style="display:flex; justify-content: space-between">
                        <h5 class="card-title" style="font-weight:bold">{{ n.title }}</h5>
                    </div>
                
                    <div class="media">
                        <img class="align-self-center w-25 mr-3" src="{{ n.image.url }}"
                            alt="Imagen de noticia">
                        <div class="media-body">
                            <h5 class="mt-0" style="margin-bottom: 1rem;">{{ n.pub_date }}</h5>
                            <p>{{ n.content }}</p>
                        </div>
                    </div>
                <div style="display:flex; flex-direction:row-reverse"><a class="btn btn-primary" href="{% url 'news:detail' n.id %}">Más información</a></div>
            </div>
        </div>
        {% empty %}
            <h2 style="text-align:center; font-weight:bold;">No hay noticias para mostrar</h2>
        {% endfor %}