{{ form.non_field_errors }}
<div class="form-group">
    <form method="post">{% csrf_token %}

        <div class="row">
            {% for field in form.visible_fields %}
                <div class="col-md-{{ column_size }} mb-4">
                    {{ field.label_tag }}
                    <br>
                    {{ field }}

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if field.help_text %}
                        <div class="helper-form mt-2">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}

                </div>
                <br>
            {% endfor %}
        </div>

        <button class="mt-4 btn btn-primary" type="submit">
            <i class="fa fa-save"></i>
            Guardar
        </button>
    </form>
</div>
