{% extends 'base.html' %}

{% block content %}
    <!-- Row -->
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'usuarios:perfil' %}" class="btn btn-success mb-3">
                <i class="fa fa-user"></i>
                Perfil</a>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cambiar la contraseña</h3>
                    <p class="card-text">Introduzca los datos en el formulario.</p>

                    {% load form_generic %}
                    {% form_generic form=form column_size=12 %}

                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
{% endblock %}

{% block page_js %}
    {% include "form_generic/form_generic_script.html" %}
{% endblock %}